.App,
.main {
  width: 100%;
  text-align: center;
}

.titleCody {
  font-size: calc(3.2rem + 1.5vw);
}
.subtitleCody {
  margin-top: 20px;
  font-size: 1.5rem;
}

.container__carrousel {
  height: 100vh;
}

.column__carrousel {
  height: auto;
  border-bottom-right-radius: 5%;
  background: linear-gradient(180deg, #d06aff, #ff81ff);
}

.container__login {
  height: 100vh;
}

.column__login {
  background-color: #ffe5e2;
  height: auto;
  /* width: 800px; */
}

.login > form > .formGroup__login {
  margin: 40px;
}

.form-group > .form-control-login {
  padding: 15px;
  border: none;
}

.form-group > .btnLogin {
  margin-top: 40px;
  height: 50px;
  width: 140px;
}

.container__carrousel img {
  width: 80%;
  height: 35em;
}

.login {
  width: 80%;
}

.login > .formGroup__login {
  width: 80%;
}

.parrafo__aboutCody {
  padding-top: 30px;
  font-size: 1.25rem;
}

.container__aboutUs__main {
  margin: 7.5em 0 7.5em 0;
}

.container__aboutUs {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background: linear-gradient(180deg, #ff81ff, #d06aff);
}

.imageTeamWork > img {
  width: 65%;
}

.container__contact {
  width: 60%;
  background: linear-gradient(180deg, #d06aff, #ff81ff);
  border-radius: 10%;
}

.form-control-contact {
  padding: 0.8em;
  margin-bottom: 2em;
}
.form-contact {
  padding: 50px;
}

.title__contact {
  margin-bottom: 50px;
}

.form-contact > .formGroup__login {
  width: 80%;
}

.textareaContact {
  max-height: 200px;
  margin-bottom: 2em;
}

.btnContact {
  width: 30%;
  float: right;
}
