.container__footer__main {
  margin-top: 7em;
}

.container__footer {
  background-color: #1b1a17;
  height: 8em;
}

.footer__title > h5,
h6 {
  color: #ffe5e2;
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
