@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #ffe5e2 !important;
}

.App,
.main {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container__login {
  height: 80%;
  margin-top: 100px !important;
}

.titleCody {
  font-size: calc(3.2rem + 1.5vw);
}
.subtitleCody {
  margin-top: 20px;
  font-size: 1.5rem;
}

/* LEFT (carrousel) */

.column__carrousel {
  width: 100%;
  height: 100%;
  /* background-color: #d06aff; */
  background: linear-gradient(180deg, #d06aff, #ff81ff);
}

.column__login {
  background-color: #ffe5e2;
  width: 800px;
}

.form-group > .form-control {
  margin: 20px;
  padding: 15px;
  border: none;
  width: 80%;
}

.form-group > .btn {
  margin-top: 40px;
  height: 50px;
  width: 140px;
}

/* RIGHT (login) */
/* .column__login {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  position: relative;
} */
/* 
.login input {
  border: none;
  display: flex;
  flex-direction: column;
  background: #ffe5e2;
  width: 90%;
  padding: 10px 10px;
  margin: 10px;
  border-bottom: 2px solid #b6c9f0;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
